@using Models
@{
    Layout = "_Layout";
    List<Item> items = ViewData["items"] as List<Item>;
}
<h1 class="text-centers  mb-2">All Items</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in items)
        {
            <tr>
                <th scope="row">#</th>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <a href="/Item/Edit?id=@item.Id" class="btn btn-sm btn-primary">Edit</a>

                    <a href="/Item/Delete?id=@item.Id"  class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
       
        
    </tbody>
</table>